<div class="relative bg-cover bg-center min-h-screen" 
  style="background-image: url('../../../assets/images/Background.jpg'); background-size: cover;">
  <div class="absolute inset-0 bg-black bg-opacity-50"></div>
  <div class="relative container mx-auto px-6 py-16 flex items-end min-h-screen">
    <div class="bg-white-0 bg-opacity-0 p-8 rounded-lg shadow-lg w-full md:w-3/4 lg:w-2/3 mb-10 mx-auto">
      <h1 class="text-4xl font-bold mb-6 text-blue-400">About Us</h1>
      <p class="text-sm md:text-xl text-white mb-4">
        Welcome to <strong>Event Hub</strong>, where education is accessible to everyone. We believe that learning should be available to all, regardless of financial circumstances. Our platform offers a wide range of courses, both free and premium, designed to help you gain new skills and advance your career.
      </p>
      <p class="text-sm md:text-xl text-white mb-4">
        Our mission is to empower individuals through education. We offer free courses on various subjects, ensuring that everyone has the opportunity to learn and grow. Our free courses are designed by industry experts and are regularly updated to keep up with the latest trends and technologies.
      </p>
      <p class="text-sm md:text-xl text-white mb-4">
        For those looking for more in-depth learning experiences, we offer premium courses that provide comprehensive content, personalized feedback, and additional resources. Our premium courses are competitively priced to ensure affordability while delivering high value.
      </p>
      <p class="text-sm md:text-xl text-white mb-4">
        We also believe in the power of community. Our platform includes forums, study groups, and live sessions where learners can connect, collaborate, and support each other. Whether you're taking a free or premium course, you'll be part of a vibrant learning community.
      </p>
      <p class="text-sm md:text-xl text-white mb-4">
        Join us at <strong>Event Hub</strong> and start your learning journey today. Explore our free courses to get started, and when you're ready, dive into our premium content for a deeper learning experience. Together, let's make education accessible and impactful for everyone.
      </p>
      <a routerLink="/" class="text-white hover:underline">
        Back to Home
      </a>
    </div>
  </div>
</div>
